*.pyc
*.pyo
.project
logs/*.log
log/*.log
*.log
!.gitignore
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace
/coverage
.DS_Store
*.pid
node_modules
# Add any directories, files, or patterns you don't want to be tracked by version control
dist
